@font-face {
  font-family: "rl-unnoregular";
  src: url("../font/rl-unno-regular-webfont.woff2") format("woff2"),
    url("../font/rl-unno-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pp_right_grotesktall_regular";
  src: url("../font/rightgrotesk-tallregular-webfont.woff2") format("woff2"),
    url("../font/rightgrotesk-tallregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuramedium";
  src: url("../font/futura-med-webfont.woff2") format("woff2"),
    url("../font/futura-med-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #fcdf3e;
  --text-color: #f9f9f9;
  --background-color: hsl(0, 0%, 4%);
}

html {
  font-size: 62.5%;
}

html body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "futuramedium", monospace;
  color: var(--text-color);
}

*::selection {
  color: var(--background-color);
  background-color: var(--primary-color);
  -webkit-text-stroke-color: var(--background-color);
  -webkit-text-fill-color: var(--background-color);
}

.s4 {
  text-align: center;
  padding: 0rem 4vw;
  position: relative;
}

.s4 .title {
  display: block;
  font-size: clamp(26px, 7vw, 85px);
  text-decoration: none;
  -webkit-text-stroke: var(--text-color);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  margin-top: 7rem;
  text-transform: uppercase;
}

.s4 h3 {
  font-size: clamp(20px, 5vw, 38px);
  margin-top: 7.2rem;
}

.s4 .dot {
  margin: 1.6rem 0rem 0.6rem;
}

.s4 .dot::after,
.s4 .dot::before {
  content: "";
  background-color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
  height: 0.7rem;
  position: relative;
  width: 0.7rem;
  margin: 0.5rem;
}

.s4 .title .nostroke {
  -webkit-text-fill-color: var(--text-color);
}

.s4 .button {
  display: block;
  font-size: clamp(11px, 5vw, 38px);
  text-decoration: none;
  margin-top: 7rem;
  background-color: var(--text-color);
  color: var(--background-color);
  width: fit-content;
  margin-inline: auto;
  padding-block: 0.3em;
  padding-inline: 0.3em;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1vw;
}

.s4 svg {
  width: clamp(11px, 4vw, 35px);
  height: clamp(11px, 4vw, 35px);
  fill: var(--background-color);
  transform: rotate(45deg);
  padding-top: 4px;
}

.s4 .email__holder {
  position: fixed;
  bottom: 0;
  margin-top: 11.6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  text-align: start;
  margin-bottom: 6.5rem;
  width: 90%;
}

.s4 .email__holder a {
  text-decoration: none;
  margin-right: 1rem;
}

@media screen and (max-width: 400px) {
  .s4 {
    text-align: left;
  }

  .s4 .email__holder {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .s4 h3 {
    margin-top: 2.2rem;
  }

  .s4 .email__holder {
    margin-top: 5.6rem;
  }

  .s4 .button {
    margin-inline: 0 auto;
  }
}
