@font-face {
  font-family: "rl-unnoregular";
  src: url("../font/rl-unno-regular-webfont.woff2") format("woff2"),
    url("../font/rl-unno-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pp_right_grotesktall_regular";
  src: url("../font/rightgrotesk-tallregular-webfont.woff2") format("woff2"),
    url("../font/rightgrotesk-tallregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuramedium";
  src: url("../font/futura-med-webfont.woff2") format("woff2"),
    url("../font/futura-med-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #fcdf3e;
  --text-color: #f9f9f9;
  --background-color: hsl(0, 0%, 4%);
}

html {
  font-size: 62.5%;
}

html body {
  background-color: var(--background-color);
  min-height: 300vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "futuramedium", monospace;
  color: var(--text-color);
}

*::selection {
  color: var(--background-color);
  background-color: var(--primary-color);
  -webkit-text-stroke-color: var(--background-color);
}

.home__starteranimation {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translate(0%, 0%);
  /* transform: translate(0%, -120%); */
  transition: transform 1.5s cubic-bezier(1, 0, 0.29, 1);
  background-color: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.home__starteranimation .animation__container {
  max-width: 850px;
}

.grain__overlay {
  display: none;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  pointer-events: none;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
  background-image: url("https://uploads-ssl.webflow.com/620f7be7ba14210e13ef2aa0/62139eb491f4e8aa9259c525_noise.gif");
  background-position: 0px 0px;
  background-size: 250px;
  opacity: 0.06;
}

.home__hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 4rem;
}

.home__hero.content {
  position: fixed;
}

.home__hero .row {
  overflow: hidden;
}

.home__hero.active {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.85) !important;
}

.home__hero .row .large {
  font-family: "rl-unnoregular", monospace;
}

.home__hero .row .small {
  font-family: "pp_right_grotesktall_regular", monospace;
}

.home__hero .large {
  font-size: clamp(10rem, 15vw, 28rem);
  line-height: 1em;
  letter-spacing: 6px;
}

.home__hero .small {
  font-size: clamp(10rem, 11vw, 19.6rem);
  line-height: 1em;
}

.home__hero .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__hero .row__two .small {
  margin-left: 0;
}

.home__hero .row__three .small {
  margin-right: 3vw;
}

.home__hero .row__one .image__wrapper {
  overflow: hidden;
  width: 22%;
  height: 135px;
  margin-left: 5.7vw;
}

.home__hero .row__two .image__wrapper {
  overflow: hidden;
  aspect-ratio: 16/9;
  width: calc(5vw + 50px);
  margin-inline: 3.5vw;
}

.home__hero .image__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 400px) {
  .home__hero .large {
    font-size: clamp(3rem, 28vw, 50rem);
    line-height: 1em;
  }

  .home__hero .small {
    font-size: clamp(2rem, 24vw, 30rem);
    line-height: 1.8em;
  }
}

/* section 2 */

.s2 {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.s2 .contact__content {
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 730px;
  padding: 1rem 4vw;
}

.s2 .contact__content h3 {
  font-size: 1.3rem;
  letter-spacing: 1.32px;
  line-height: 13.32px;
  text-align: center;
  /* font-weight: 400; */
}

.s2 h3::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0px;
  height: 7px;
  margin: -3.5px 0 0 -12px;
  transition: width 0.5s cubic-bezier(0.6, 0, 0, 1) 0.5s;
  transform: skewY(-16deg) scaleX(1) translateY(30px);
  transform-origin: 0 100%;
  background-color: var(--text-color);
}

.s2 h3.active::after {
  width: 24px;
}

.s2 h2 {
  margin-top: 3.5rem;
  font-size: clamp(24px, 5vw, 38px);
  line-height: 48px;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.rotatedAnchor {
  margin-top: 4rem;
}

.rotatedAnchor img,
.s2 .link__hover {
  position: absolute;
  width: 135px;
  transform: translateX(-50%);
  mix-blend-mode: difference;
}

.s2 .link__hover {
  height: 110px;
  width: 110px;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  transform: translate(-50%, 12px) scale(0);
}

.rotatedAnchor:hover .link__hover {
  transform: translate(-50%, 12px) scale(1);
}

/* hr  */

hr {
  margin-inline: 4vw;
  margin-top: 200px;
  color: var(--text-color);
  margin-bottom: 40px;
  opacity: 25%;
}

@media screen and (max-width: 400px) {
  .rotatedAnchor img,
  .s2 .link__hover {
    width: 100px;
  }

  .s2 .link__hover {
    height: 80px;
    width: 80px;
    transform: translate(-50%, 10px) scale(0);
  }

  .rotatedAnchor:hover .link__hover {
    transform: translate(-50%, 10px) scale(1);
  }
}

/* section 3 */
.s3 {
  padding: 6rem 4vw;
}

.s3 .s3__title {
  font-size: clamp(24px, 7vw, 85px);
  text-align: center;
  position: relative;
  width: fit-content;
  margin-left: auto;
}

.s3 .s3__title span {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color);
  -webkit-text-fill-color: transparent;
  font-weight: 100;
}

.s3 .s3__title svg {
  position: absolute;
  fill: var(--text-color);
  width: clamp(22px, 5vw, 70px);
  height: clamp(22px, 5vw, 70px);
  top: 0;
  left: 0;
  transform: translate(-170%, 100%);
  animation-name: example;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes example {
  0% {
    transform: translate(-170%, 75%);
  }
  100% {
    transform: translate(-170%, 100%);
  }
}

.s3 .line {
  overflow: hidden;
}

.s3 .proj {
  margin-bottom: 10rem;
}

.s3 h3 {
  font-size: clamp(22px, 5vw, 70px);
}

.s3 .imagewrappper {
  width: 70%;
  overflow: hidden;
  aspect-ratio: 16/9;
  position: relative;
  max-width: 960px;
}

@media screen and (max-width: 600px) {
  .s3 .imagewrappper {
    width: 85%;
  }
}

.s3 .imagewrappper img {
  display: block;
  width: 100%;
  object-fit: cover;
  transform: scale(1.7);
  transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.s3 .imagewrappper .imagecolor {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  transition: top 0.8s cubic-bezier(0.5, 0, 0, 1);
  z-index: 1;
}

.s3 .imagewrappper.active .imagecolor {
  top: 100%;
}

.s3 .imagewrappper.active .image {
  transform: scale(1);
}

.s3 .imagewrappper:hover .image {
  transform: scale(1.1);
}

.s3 .buttonWrappper {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-right: auto;
}

.s3 .seeAllButton {
  padding: 1.5rem 3rem;
  font-size: 4rem;
  background-color: var(--text-color);
  color: var(--background-color);
  text-decoration: none;
}

.s3 .arrowHolder {
  font-size: 4rem;
  width: 0px;
  height: 70px;
  border: 2px solid var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.7s cubic-bezier(0.5, 0, 0, 1);
}

.s3 .arrowHolder svg {
  fill: var(--text-color);
  width: 30px;
  height: 30px;
}

.arrowHolder.last {
  width: 70px;
}

.buttonWrappper:hover .first {
  width: 70px !important;
}

.buttonWrappper:hover .last {
  width: 0px !important;
}

@media screen and (max-width: 400px) {
  .s3 .seeAllButton {
    padding: 1rem 1.5rem;
    font-size: 2rem;
  }
  .s3 .arrowHolder {
    width: 0px;
    height: 40px;
  }
  .s3 .arrowHolder svg {
    width: 20px;
    height: 20px;
  }
  .arrowHolder.last {
    width: 40px;
  }

  .buttonWrappper:hover .first {
    width: 40px !important;
  }

  .buttonWrappper:hover .last {
    width: 0px !important;
  }
}

.s3__separater {
  margin-top: 1rem;
}
/* section 4 */

.s4 {
  text-align: center;
  padding: 0rem 4vw;
}

.s4 h3 {
  font-size: clamp(24px, 5vw, 38px);
  margin-top: 19.2rem;
}

.s4 .dot {
  margin: 1.6rem 0rem 0.6rem;
}

.s4 .dot::after,
.s4 .dot::before {
  content: "";
  background-color: var(--text-color);
  border-radius: 50%;
  display: inline-block;
  height: 0.7rem;
  position: relative;
  width: 0.7rem;
  margin: 0.5rem;
}

.s4 a {
  display: block;
  font-size: clamp(24px, 7vw, 85px);
  text-decoration: none;
  -webkit-text-stroke: var(--text-color);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  margin-top: 5rem;
  text-transform: uppercase;
}

.s4 .email__holder {
  margin-top: 11.6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  text-align: start;

  margin-bottom: 6.5rem;
}

.s4 .email {
  font-size: clamp(24px, 5vw, 38px);
}

@media screen and (max-width: 400px) {
  .s4 {
    text-align: left;
  }

  .s4 .email__holder {
    flex-direction: column;
  }

  .s4 h3 {
    margin-top: 5.2rem;
  }

  .s4 .email__holder {
    margin-top: 5.6rem;
  }
}
