@font-face {
  font-family: "rl-unnoregular";
  src: url("../font/rl-unno-regular-webfont.woff2") format("woff2"),
    url("../font/rl-unno-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pp_right_grotesktall_regular";
  src: url("../font/rightgrotesk-tallregular-webfont.woff2") format("woff2"),
    url("../font/rightgrotesk-tallregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futuramedium";
  src: url("../font/futura-med-webfont.woff2") format("woff2"),
    url("../font/futura-med-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #fcdf3e;
  --text-color: #f9f9f9;
  --background-color: #0a0a0a;
}

html {
  font-size: 62.5%;
}

html body {
  background-color: 000;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "futuramedium", monospace;
  color: var(--text-color);
}

.home__starteranimation {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translate(0%, 0%);
  /* transform: translate(0%, -120%); */
  transition: transform 1.5s cubic-bezier(1, 0, 0.29, 1);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.home__starteranimation .animation__container {
  width: 55%;
}

.grain__overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  pointer-events: none;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  border-radius: 0px;
  background-image: url("https://uploads-ssl.webflow.com/620f7be7ba14210e13ef2aa0/62139eb491f4e8aa9259c525_noise.gif");
  background-position: 0px 0px;
  background-size: 250px;
  opacity: 0.06;
}

.home__hero .row .large {
  font-family: "rl-unnoregular", monospace;
}

.home__hero .row .small {
  font-family: "pp_right_grotesktall_regular", monospace;
}

.home__hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16.8rem;
  text-align: center;
}

.up {
  transform: translate(0%, 500px);
  transition: transform 1.5s ease;
  transition-delay: 0.4s;
}

.up.active {
  transform: translate(0%, 0%);
}

.home__hero .row {
  overflow: hidden;
}

/* .text {
  transform: translate(0, -200px);
} */

.home__hero .large {
  font-size: clamp(10rem, 15vw, 28rem);
  line-height: 0.8em;
  letter-spacing: 6px;
}

.home__hero .small {
  font-size: clamp(10rem, 11vw, 19.6rem);
  line-height: 0.8em;
}

.home__hero .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__hero .row__two .small {
  margin-left: 0;
}

.home__hero .row__three .small {
  margin-right: 3vw;
}

.home__hero .row__one .image__wrapper {
  overflow: hidden;
  width: 22%;
  height: 135px;
  margin-left: 5.7vw;
}

.home__hero .row__two .image__wrapper {
  overflow: hidden;
  width: 10vw;
  height: 11.4rem;
  margin-inline: 3.5vw;
}

.home__hero .image__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 400px) {
  .home__hero .row {
    flex-direction: column;
    gap: 4rem;
  }

  .home__hero .large {
    font-size: clamp(5rem, 20vw, 50rem);
    line-height: 0.8em;
  }

  .home__hero .small {
    font-size: clamp(5rem, 15vw, 30rem);
    line-height: 0.8em;
  }
}
