@font-face {
  font-family: "NeueMachina";
  src: url("../font/NeueMachina-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pppangramsans";
  src: url("../font/pppangramsans-medium-webfont.woff2") format("woff2"),
    url("../font/pppangramsans-medium-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #ff5252;
  --text-color: #181818;
  --color-light: #f9f6e7;
  --padding: clamp(1px, 4.5vw, 85px);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-light);
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "pppangramsans", sans-serif;
  color: var(--text-color);
}

*::selection {
  color: var(--text-color);
  background-color: var(--primary-color);
  -webkit-text-stroke-color: var(--text-color);
  -webkit-text-fill-color: var(--text-color);
}

a {
  text-decoration: none;
}

.home__starteranimation {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: scale(1) rotate(0deg);
  transition: transform 1.2s cubic-bezier(1, 0, 0.29, 1);
  z-index: 10000;
  pointer-events: none;
}

.home__starteranimation .background__color {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    35% 100%,
    35% 34%,
    65% 34%,
    65% 62%,
    35% 62%,
    35% 100%,
    100% 100%,
    100% 0%
  );
}

.home__starteranimation .animation__container {
  max-width: 850px;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--text-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.6s cubic-bezier(1, 0, 0.29, 1);
  background-color: var(--text-color);
}

.home__starteranimation .animation__container.not {
  max-width: 850px;
  aspect-ratio: 1/1;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    35% 100%,
    35% 41%,
    65% 41%,
    65% 58%,
    35% 58%,
    35% 100%,
    100% 100%,
    100% 0%
  );
}

.s1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-inline: var(--padding);
  margin-bottom: 5vw;
  position: relative;
  opacity: 1;
}

.s1 .small__heading {
  font-size: 12px;
  margin-right: 284px;
  margin-bottom: 362px;
  margin-top: 100px;
}

.s1 .small__heading .color {
  color: var(--primary-color);
  font-size: 1.3rem;
}

.s1 .heading {
  font-size: clamp(1px, 8.1vw + 20px, 180px);
  line-height: 108.5%;
  letter-spacing: 0.015em;
  font-weight: 400;
  position: absolute;
  left: var(--padding);
  bottom: 50px;
  z-index: 3;
}

.s1 .heading div {
  overflow: hidden;
}

.s1 .heading div span {
  display: inline-block;
  font-family: "NeueMachina";
  /* transform: translate(0, 120%); */
}

.s1 .right {
  position: relative;
  /* padding-top: 3.1vw; */
  padding-block: 65px;
}

.s1 .right__image {
  position: absolute;
  left: -11%;
  top: 41%;
  aspect-ratio: 1 / 1;
  width: 62%;
  z-index: 1;
  object-fit: cover;
  transform: translateY(-50%);
  z-index: 2;
}

.s1 .svg {
  position: absolute;
  z-index: 1;
}

.s1 .svg1 {
  width: 17%;
  right: 23%;
}

.s1 .svg2 {
  width: 12%;
  right: 0;
  top: 40%;
}

.s1 .svg3 {
  width: 18%;
  bottom: 0;
  left: 20%;
}

.s1 .svg4 {
  width: 8%;
  bottom: 19%;
  right: 13%;
  animation-name: down;
  animation-duration: 1.3s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes down {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(20%);
  }
}

/* @media screen and (max-width: 1230px) {
  .s1 {
    grid-template-columns: 1fr;
    justify-items: end;
  }

  .s1 .right {
    width: 50%;
  }
} */

@media screen and (max-width: 1230px) {
  .s1 {
    grid-template-rows: 1fr 1.3fr;
    grid-template-columns: 1fr;

    padding-top: 60px;
    justify-items: center;
    align-items: center;
  }

  .s1 .left {
    padding-top: 0px;
  }
  .s1 .heading {
    position: static;
    margin-top: 20px;
  }

  .s1 .small__heading {
    margin-left: auto;
    margin-top: 1em;
    text-align: left;
    width: fit-content;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .s1 .right {
    width: calc(50% + 120px);
    padding-block: 0;
    align-self: start;
    max-width: 500px;
  }

  .s1 .right__image {
    top: 42%;
    aspect-ratio: 13 / 9;
    width: 86%;
  }

  .s1 .svg4 {
    bottom: 14%;
  }
}

.s2 {
  padding-inline: var(--padding);
  padding-bottom: calc(5vw + 7rem);
}

.s2 .grid {
  width: 100%;
  height: 100%;
}

.mediam-heading {
  /* border-bottom: 3px solid #8c8c8c; */
  margin-bottom: 0.9em;
  font-size: clamp(35px, 5.8vw, 110px);
}

.sheading__break {
  height: 3px;
  background-color: #8c8c8c;
  width: 0%;
  margin-inline: auto;
  transition: width 0.7s cubic-bezier(0.72, 0, 0.3, 1) 0.5s;
}

.heading__anim {
  font-family: "NeueMachina";
}

.aheading__break.active {
  width: 100%;
}

.sheading__break.active {
  width: 100%;
}

.mediam-heading h3 {
  font-weight: 600;
  padding-block: 0.82em;
  letter-spacing: -0.025em;
}

.mediam-heading .heading__anim {
  display: inline-block;
}

/* section 2  */

.s2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.s2 .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2 .image video {
  width: 80%;
  max-width: 370px;
}

.s2 .contact__content {
  z-index: 7;
  max-width: 730px;
  padding: 1rem 0;
}

.s2 .contact__content h3 {
  font-size: calc(2rem + 0.3vw);
  letter-spacing: 1.32px;
  line-height: 13.32px;
  text-align: left;
  font-weight: 600;
  font-family: "NeueMachina";

  /* font-weight: 400; */
}

.s2 h3::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 7px;
  margin: -3.5px 0 0 -12px;
  transition: width 0.5s cubic-bezier(0.6, 0, 0, 1) 0.8s;
  transform: skewY(-10deg) scaleX(1) translate(-2.9em, 19px);
  transform-origin: 0 100%;
  background-color: var(--text-color);
}

.s2 h3.active::after {
  width: 24px;
}

.s2 h2 {
  margin-top: 3.5rem;
  font-size: clamp(22px, 2vw, 28px);
  line-height: 48px;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-weight: 400;
}

.rotatedAnchor {
  display: inline-block;
  margin-top: calc(2vw + 1.5rem);
  position: relative;
  width: clamp(80px, 10.3vw, 100px);
  aspect-ratio: 1/1;
}

.rotatedAnchor img,
.s2 .link__hover {
  position: absolute;
  width: 100%;
}

.s2 .link__hover {
  height: 80%;
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
  transform: translate(12%, 12%) scale(0);
}

.rotatedAnchor:hover .link__hover {
  transform: translate(12%, 12%) scale(1);
}

@media screen and (max-width: 800px) {
  .s2 {
    grid-template-columns: 1fr;
  }

  .s2 .image {
    position: absolute;
    bottom: -95px;
    left: 25%;
    justify-content: flex-end;
  }
}

/* section 3 */

.s3 {
  width: 100vw;
  left: 0;
  z-index: 99999;
  transition: 1.2s;
  transform: translateY(calc(-100vh - 5vw));
  position: absolute;
  background-color: var(--text-color);
  padding-inline: var(--padding);
  padding-top: calc(5vh + 15rem);
}

.s3.unactive {
  transform: translateY(50vh);
}

.s3 h3 {
  text-align: center;
}

.s3 h3 span {
  color: var(--color-light);
}

.s3 .line {
  position: relative;
  overflow: hidden;
  text-align: center;
  transform: translateY(55%);
  z-index: 2;
}

.s3 .line a {
  font-family: "NeueMachina";
}

.s3 .proj {
  margin-bottom: 10rem;
}

.s3 a {
  font-size: clamp(24px, 4.5vw, 60px);
  display: block;
  color: var(--color-light);
  font-weight: bold;
  margin-inline: auto;
}

.s3 .imagewrappper {
  display: block;
  width: 70%;
  overflow: hidden;
  aspect-ratio: 16/9;
  position: relative;
  max-width: 960px;
}

@media screen and (max-width: 600px) {
  .s3 .imagewrappper {
    width: 85%;
  }
}

.s3 .imagewrappper .image {
  display: block;
  width: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1);
}

.s3 .imagewrappper .imagecolor {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--text-color);
  z-index: 1;
}

.s3 .buttonWrappper {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
}

.s3 .seeAllButton {
  padding: 1.5rem 3rem;
  font-size: 3rem;
  background-color: var(--color-light);
  color: var(--text-color);
  text-decoration: none;
  font-weight: 300;
}

.s3 .arrowHolder {
  font-size: 4rem;
  width: 0px;
  height: 70px;
  border: 2px solid var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: width 0.7s cubic-bezier(0.5, 0, 0, 1);
}

.s3 .arrowHolder svg {
  fill: var(--color-light);
  width: 30px;
  height: 30px;
}

.arrowHolder.last {
  width: 70px;
}

.buttonWrappper:hover .first {
  width: 70px !important;
}

.buttonWrappper:hover .last {
  width: 0px !important;
}

@media screen and (max-width: 400px) {
  .s3 .seeAllButton {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
  }
  .s3 .arrowHolder {
    width: 0px;
    height: 40px;
  }
  .s3 .arrowHolder svg {
    width: 20px;
    height: 20px;
  }
  .arrowHolder.last {
    width: 40px;
  }

  .buttonWrappper:hover .first {
    width: 40px !important;
  }

  .buttonWrappper:hover .last {
    width: 0px !important;
  }
}

/* section 4 */

.s4 {
  text-align: center;
  background-color: var(--text-color);
  padding-block: 1px;
  overflow-x: hidden;
}

.s4 .title {
  display: block;
  font-size: clamp(26px, 10vw + 1rem, 85px);
  text-decoration: none;
  -webkit-text-stroke: var(--color-light);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  margin-top: calc(10vw + 3rem);
  margin-bottom: 5rem;
  text-transform: uppercase;
  font-family: "NeueMachina";
  text-align: center;
  white-space: nowrap;
  animation-name: contact;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes contact {
  0% {
    transform: translateX(-50%) rotate(-2deg);
  }
  100% {
    transform: translateX(-172%) rotate(-2deg);
  }
}

.s4 h3 {
  font-size: clamp(20px, 5vw, 38px);
  margin-top: 7.2rem;
  color: var(--color-light);
}

.s4 .dot {
  margin: 1.6rem 0rem 0.6rem;
}

.s4 .dot::after,
.s4 .dot::before {
  content: "";
  background-color: var(--color-light);
  border-radius: 50%;
  display: inline-block;
  height: 0.7rem;
  position: relative;
  width: 0.7rem;
  margin: 0.5rem;
}

.s4 .title .nostroke {
  -webkit-text-fill-color: var(--color-light);
}

.s4 .button {
  display: block;
  font-size: clamp(11px, 5vw, 38px);
  text-decoration: none;
  margin-top: 7rem;
  background-color: var(--color-light);
  color: var(--text-color);
  width: fit-content;
  margin-inline: auto;
  padding-block: 0.3em;
  padding-inline: 0.3em;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1vw;
  font-family: "NeueMachina";
}

.s4 .button:hover svg {
  transform: translate(0.2em, 0.15em) rotate(45deg);
}
.s4 svg {
  width: clamp(11px, 4vw, 35px);
  height: clamp(11px, 4vw, 35px);
  fill: var(--text-color);
  transform: translate(0, 0.15em) rotate(45deg);
  padding-top: 4px;
  transition: transform 0.3s;
}

.s4 .email__holder {
  margin-top: 11.6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  text-align: start;
  margin-bottom: 6.5rem;
}

.s4 .email__holder .left div {
  color: var(--color-light);
}

.s4 .email__holder .right {
  display: flex;
  gap: 1rem;
}

.s4 .email__holder a {
  text-decoration: none;
  margin-right: 1rem;
  font-size: 15px;
  color: var(--color-light);
}

@media screen and (max-width: 400px) {
  .s4 {
    text-align: left;
  }

  .s4 .title {
    animation-duration: 20s;
  }

  .s4 .email__holder {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .s4 h3 {
    margin-top: 2.2rem;
    text-align: left;
  }

  .s4 .email__holder {
    margin-top: 5.6rem;
  }

  .s4 .button {
    margin-inline: 0 auto;
  }

  .s4 .email__holder .right {
    display: block;
  }
}
