html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.section h2 {
  font-size: 6rem;
}

.fullpage__slide {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.title {
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 200;
  margin-left: 11%;
}

.section .title__text {
  font-size: 12rem;
  line-height: 1;
  letter-spacing: 0.1em;
  margin-bottom: 1.6rem;
  /* text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5); */
}

.title .border {
  margin-bottom: 3.2rem;
}

.title .border span {
  display: block;
  width: 88px;
  height: 4px;
  border-radius: 5px;
  background: #ff4d5a;
}

.title .border span:first-child {
  margin-bottom: 1.4rem;
}

.title .border span:last-child {
  margin-left: 54px;
}

.title__lead {
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.btn-wrap {
  margin-top: 3.2rem;
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
  background: #ff4d5a;
  line-height: 1;
  font-weight: bold;
  padding: 18px 32px;
  border-radius: 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.image--works {
  background: url(https://kuon.space/assets/img/reile.jpg) no-repeat center;
  background-size: cover;
}

.image {
  display: block;
  position: relative;
  width: 53.125%;
  height: 74.81%;
  margin: 0 8% 0 auto;
  -webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
  box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
  transform-origin: center;
}

.image__over {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #072142;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.image__cover:last-child {
  background: #ff4d5a;
  z-index: -1;
}
